.card2 {
    --bg-card: #27292a93;
    --primary: #28a1d9;
    --primary-800: #1d9195b0;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  
    position: relative;
  
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  
    padding: 1rem;
    width: 17rem;
    height: 20rem;
    background-color: rgb(27, 142, 187);
  
    border-radius: 1rem;
  }
  
  .image_container {
    overflow: hidden;
    cursor: pointer;
  
    position: relative;
    z-index: 5;
  
    width: 100%;
    height: 8rem;
    background-color: var(--primary-800);
  
    border-radius: 0.5rem;
  }
  
  .image_container .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 3rem;
    fill: var(--light);
  }
  
  .title {
    overflow: clip;
  
    width: 100%;
  
    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
  
  .size {
    font-size: 0.75rem;
    color: var(--light);
  }
  
  .list-size {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  
    margin-top: 0.25rem;
  }
  
  .list-size .item-list {
    list-style: none;
  }
  
  .list-size .item-list-button {
    cursor: pointer;
  
    padding: 0.5rem;
    background-color: var(--zinc-800);
  
    font-size: 0.75rem;
    color: var(--light);
  
    border: 2px solid var(--zinc-800);
    border-radius: 0.25rem;
  
    transition: all 0.3s ease-in-out;
  }
  
  .item-list-button:hover {
    border: 2px solid var(--light);
  }
  .item-list-button:focus {
    background-color: var(--primary);
  
    border: 2px solid var(--primary-shadow);
  
    box-shadow: inset 0px 1px 4px var(--primary-shadow);
  }
  
  .action {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light);
  }
  
  .cart-button {
    cursor: pointer;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  
    padding: 0.5rem;
    width: 100%;
    background-image: var(--bg-linear);
  
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
    text-wrap: nowrap;
  
    border: 2px solid hsla(187, 83%, 58%, 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--light);
  }
  
  .cart-button .cart-icon {
    width: 1rem;
  }
  
  .smooth-transition {
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  .slideOne {
    width: 50px;
    height: 10px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    label {
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: -3px;
      left: -3px;
      cursor: pointer;
      background: #fcfff4;
      background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      border-radius: 50px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
      transition: all 0.4s ease;
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label {
        left: 37px;
      }  
    }
  }
  /* end .slideOne */